.footer {
  flex: 0 0 auto;
  &__top {
    background-color: #303030;
    &-block {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-family: @roboto;
      font-size: 14px;
      color: @c5;
      padding: 10px 0;
      &:last-child {
        align-items: flex-end;
        box-shadow: 1px 0 0 #454545 inset, 2px 0 0 #202020 inset;
      }
      > div {
        width: auto;
      }
      h4 {
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
  &__bottom {
    padding: 10px 0;
    background-color: #252525;
    > div {
      text-align: center;
    }
  }
}